<h1>Title</h1>

<div class="alert alert-success">An alert</div>

<div class="u-card">
  A div with the "u-card" class
</div>

<div class="u-card js-fade-on-click">Jquery test: click me to fade</div>

<h3>An icon: <i class="icon">face</i></h3>
