<div class="u-centered-800 test-assessment-connect-phone-page">
  <h3>2. Connect phone</h3>

  <p>We need to connect your phone so you can use it as the "remote" for this test.</p>

  <% url = Routes.assessment_url(EyeTestWeb.Endpoint, :phone, @assessment.uuid) %>
  <% svg = EQRCode.encode(url) |> EQRCode.svg() %>

  <div style="text-align: center;">
    <div>Scan this code on your phone:</div>
    <%= raw(svg) %>
  </div>

  <p class="text-center">Or open this URL in your phone's browser:</p>
  <input type="text" value="<%= url %>" class="form-control">
</div>
