<div class="u-centered-800">
  <h3>3. Get ready</h3>

  <p>Ready to start your test?</p>

  <ol>
    <li>Make sure your browser window is full-screen! (not just full-height)</li>
    <li>Stand/sit in your normal testing position with your phone ready</li>
    <li>Press the button shown on your phone</li>
  </ol>
</div>
