<div class="u-centered-800 test-assessment-get-ready-page">
  <h3>3. Get ready</h3>

  <p>Ready to start your test?</p>

  <ul>
    <%= case @assessment.which_eye do %>
      <% "left" -> %>
        <li>You're testing your <strong class="text-success">left</strong> eye. Make sure your <strong class="text-danger">right</strong> eye is covered.</li>

      <% "right" -> %>
        <li>You're testing your <strong class="text-success">right</strong> eye. Make sure your <strong class="text-danger">left</strong> eye is covered.</li>

      <% "both" -> %>
        <li>You're testing <strong class="text-success">both</strong> eyes. Don't cover up either eye.</li>
    <% end %>
    <li>Make sure your browser window is full-screen!</li>
    <li>Stand / sit at your normal location (<strong><%= @assessment.location.name %></strong>) with your phone ready.</li>
    <li>When you're ready to start, press the button on your phone.</li>
  </ul>
</div>
