<div style="position: fixed; top: 0px; left: 0px; width: 100%; height: 100%;"
  class="text-center test-assessment-question-reveal"
  data-test-letter="<%= @this_question.actual %>"
  data-test-question-uuid="<%= @this_question.uuid %>"
>
  <div style="padding-top: 28%; line-height: 0; font-size: <%= @this_question.size %>vh;">
    <%= if @this_question[:guess] == nil do %>
      <%= @this_question.actual %>
    <% else %>

      <%= cond do %>
        <% @this_question.correct -> %>
          <div class="text-success test-assessment-question-result-correct" style="margin-top: -0.5em; font-size: 20vh;">
            <i class="icon">check_circle_outline</i>
          </div>

        <% @this_question.guess != "" -> %>
          <div class="text-danger test-assessment-question-result-incorrect" style="margin-top: -0.5em; font-size: 20vh;">
            <i class="icon">clear</i>
          </div>

        <% @this_question.guess == "" -> %>
          <div class="text-danger test-assessment-question-result-timed-out" style="font-size: 20vh;">
            Timed out!
          </div>
      <% end %>

    <% end %>
  </div>
</div>
