<h1>My test history</h1>

<div class="grid-1-1 test-page-assessment-index">
  <div>
    <table class="table">
      <tr>
        <th>When</th>
        <th>Eye</th>
        <th colspan="2" class="text-center">Scores</th>
        <th></th>
      </tr>
      <%= for a <- @assessments do %>
        <tr>
          <td><%= a.completed_at %></td>
          <td><%= a.which_eye %></td>
          <td><%= Float.round(a.scores["avg_smallest_3_correct"], 2) %></td>
          <td><%= Float.round(a.scores["edge_size"], 2) %></td>
          <td><%= link "results", to: Routes.assessment_path(@conn, :show, a) %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div>
    CHART
    <%
    chart_data = Enum.map(@assessments, fn(a) ->
      %{id: a.id, which_eye: a.which_eye, completed_at: a.completed_at, edge_size: Float.round(a.scores["edge_size"], 2)}
    end)
    # partitioned = Enum.group_by(chart_data, & &1.which_eye) |> Jason.encode!()
    # IO.inspect(partitioned)
    %>
    <div id="history-page-chart-container"
      data-chart-data="<%= Jason.encode!(chart_data) %>"
    >
    </div>
  </div>
</div>
