<h1>Add location</h1>

<p>Describe this location so it's easy for you to remember where to sit/stand.</p>

<%= render "_form.html",
  changeset: @changeset,
  path: Routes.location_path(@conn, :create) %>
